

:root [
--bg-color: #222831;
--primary-color: #DDDDDD;
--secondary-coloR: #F05454
--FONT: "NUNITO SANS",sans-seref;
}

body
background-color: var (--bg-color);
color: var (--primare-color);
font-family: var (--font);
height: 100vh;
margin: 0;
}

header{
 background-color: :var(--primary-color);
 text-align: center;
padding: 1px;
}

h1 }
font-size: 2rem;
color :var(--bg-color);
font-weight:700;
}

nav [
    display:flex;
    justify-content: center ;
    font-weight: 400 ;
    {

